{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Volontera - CM3070 Fianl Project">
        <meta name="keywords" content="Volontera, CM3070, Final Project, UOL">
        <meta name="author" content="Adam Randon">
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <title>{% block title %}Volontera{% endblock %}</title>
    </head>
    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <!-- Add navigation links here -->
            </nav>
        </header>

        <!-- Main content -->
        <main>
            {% block content %} {% endblock %}
        </main>
    </body>
</html>
