{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Volontera - CM3070 Fianl Project">
        <meta name="keywords" content="Volontera, CM3070, Final Project, UOL">
        <meta name="author" content="Adam Randon">
        <!-- Include HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <title>{% block title %}Volontera{% endblock %}</title>
        <!-- Other meta tags, styles, and scripts -->
        <!-- Notification popup styling -->
        <style>
            .notification-popup {
                animation: fade-in 0.5s ease-in-out, fade-out 0.5s ease-in-out 4.5s;
            }

            @keyframes fade-in {
                from { opacity: 0; transform: translateY(20px); }
                to { opacity: 1; transform: translateY(0); }
            }

            @keyframes fade-out {
                from { opacity: 1; }
                to { opacity: 0; }
            }
        </style>
    </head>
    <body>
        <!-- Main content -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
