{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Volontera - CM3070 Fianl Project">
        <meta name="keywords" content="Volontera, CM3070, Final Project, UOL">
        <meta name="author" content="Adam Randon">
        <!-- Include HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.2"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <title>{% block title %}Volontera{% endblock %}</title>
    </head>
    <body>
        <!-- Main content -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
