{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<script src="{% static 'js_frontend-scripts/logout-processes.js' %}"></script>
<h1>Welcome to Your Dashboard</h1>
<ul>
    <li>Home</li>
    <li>Profile</li>
    <li>Logout</li>
   
    <button 
        hx-post="{% url 'accounts_notifs:logout' %}"
        hx-trigger="click"
        hx-target="#logout-modal-content"
        hx-swap="innerHTML"
        hx-on::after-request="console.log('HTMX request completed'); showLogoutMessage(event);"
        hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'
        class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">
        Logout
    </button>
    <script>
        document.addEventListener("htmx:afterRequest", function(event) {
            console.log("HTMX request fired!", event);
            showLogoutMessage(event);
        });
    </script>
</ul>
<section>
    <h2>Overview</h2>
    <p>This is your dashboard overview.</p>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.email_address }}!</p>
        <p>This is your contact number: {{ user.contact_number }}</p>
        <p>This is your user_type {{ user.user_type }}</p>
        {% if user.volunteer %}
            <p>You are a volunteer.</p>
            <p>Your first and last name: {{ user.volunteer.first_name }} {{ user.volunteer.last_name }}</p>
            <p>Your dob: {{ user.volunteer.dob }}</p>
            <p>Your bio: {{ user.volunteer.bio }}</p>
        {% elif user.organization %}
            <p>You are an organization.</p>
        {% endif %}
    {% endif %}
</section>
<section>
    <h2>Recent Activities</h2>
    <ul>
        <li>Activity 1</li>
        <li>Activity 2</li>
        <li>Activity 3</li>
    </ul>
</section>
<!-- Modal -->
{% include 'base/partials/logging-out-modal.html' %}

{% endblock %}
