{% load static %}
<div id="password-reset-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center z-50">
    <div class="modal bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
        {% if reset_stage == 'request' %}
        <img src="{% static 'images/link-sent.svg' %}" alt="Link Sent" class="w-32 mx-auto mb-4">
        {% elif reset_stage == 'confirm' %}
        <div id="confirm-image-container"></div>
        {% endif %}
        <div id="password-reset-modal-content" class="text-center text-lg font-bold text-gray-800">
            <!-- JSON message -->
        </div>
        {% if reset_stage == 'confirm' %}
        <div id="countdown-container"></div>
        {% endif %}
        <div class="mt-6 flex justify-end">
            <button 
                class="w-full shadow-xl py-3 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none" style="box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.1);"
                onclick="hideModal()"
            >
                OK
            </button>
        </div>
    </div>
</div>