{% extends 'base/base_authenticated.html' %}
{% load static %}
{% block title %}Opportunities{% endblock %}
{% block auth_content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css">
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_PLACES_API_KEY }}&libraries=places&callback=initAutocomplete" async defer></script>
<script src="{% static 'js_frontend-scripts/opportunities-search-processes.js' %}"></script>


{% endblock %}
