{% extends 'base/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<script src="{% static 'js_frontend-scripts/signup-processes.js' %}"></script>
<div class="font-[sans-serif]">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 items-center gap-4 h-full">
        <div class="max-md:order-1 lg:col-span-1 md:h-screen w-full bg-[#000842] md:rounded-tr-xl md:rounded-br-xl lg:p-12 p-8 items-center justify-center flex">
            {% if user_type == "volunteer" %}
                <img src="{% static 'images/volunteer.svg' %}" alt="Volunteer Illustration" class="w-full h-auto object-contain"> <!--Image obtained from undraw.co-->
            {% elif user_type == "organization" %}
                <img src="{% static 'images/organization.svg' %}" alt="Organization Illustration" class="w-full h-auto object-contain"> <!--Image obtained from undraw.co-->
            {% endif %}
        </div>

        <div class="w-full p-6 max-md:max-w-lg mx-auto flex items-center justify-center min-h-screen lg:col-span-2">
            <div class="w-full max-w-xl">
                {% if user_type == "volunteer" %}
                    <form id="volunteer-form" method="post" action="{% url 'volunteers_organizations:signup_final' %}" hx-post="{% url 'volunteers_organizations:signup_final' %}" hx-target="#modal-container" hx-swap="innerHTML" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-8">
                            <h3 class="text-gray-800 text-3xl font-bold">Volunteer details</h3>
                            <p class="text-sm mt-4 text-gray-800">
                                Want to register as an organization instead?
                                <a href="{% url 'accounts_notifs:authentication' %}?type=signup" id="return-to-signup-1" class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Return to signup</a>
                            </p>
                        </div>
                        <div>
                            <label for="id_first_name" class="text-gray-800 text-[15px] mb-2 block">First Name</label>
                            <div class="relative flex items-center">
                                {{ form.first_name }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" stroke="currentColor" 
                                    class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.5 20.25a8.25 8.25 0 0115 0" />
                                </svg>
                            </div>
                        </div>
                
                        <div class="mt-4">
                            <label for="id_last_name" class="text-gray-800 text-[15px] mb-2 block">Last Name</label>
                            <div class="relative flex items-center">
                                {{ form.last_name }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" stroke="currentColor" 
                                    class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.5 20.25a8.25 8.25 0 0115 0" />
                                </svg>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_dob" class="text-gray-800 text-[15px] mb-2 block">Date of Birth</label>
                            <div class="relative flex items-center">
                                {{ form.dob }}
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_bio" class="text-gray-800 text-[15px] mb-2 block">Bio</label>
                            <div class="relative flex items-center">
                                {{ form.bio }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" stroke="currentColor" 
                                    class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L8.25 18.404 3 19.5l1.096-5.25L16.862 4.487z" />
                                </svg>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_profile_img" class="text-gray-800 text-[15px] mb-2 block">Profile Image</label>
                            <div class="relative flex items-center">
                                {{ form.profile_img }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                                </svg>
                            </div>
                        </div>

                        <div class="mt-8">
                            <button type="submit" class="w-full shadow-xl py-3 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 flex items-center justify-center space-x-2 transition-transform duration-200 hover:scale-[1.02] hover:shadow-lg" 
                                style="box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.1);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                                </svg>
                                <span class="font-bold">Complete Signup</span>
                            </button>
                        </div>
                    </form>
                {% elif user_type == "organization" %}
                    <form id="organization-form" method="post" action="{% url 'volunteers_organizations:signup_final' %}" hx-post="{% url 'volunteers_organizations:signup_final' %}" hx-target="#modal-container" hx-swap="innerHTML" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-8">
                            <h3 class="text-gray-800 text-3xl font-bold">Organization details</h3>
                            <p class="text-sm mt-4 text-gray-800">
                                Want to register as a volunteer instead?
                                <a href="/accounts/auth?type=signup" id="return-to-signup-2" class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">Return to signup</a>
                            </p>
                        </div>
                        <div>
                            <label for="id_organization_name" class="text-gray-800 text-[15px] mb-2 block">Organization Name</label>
                            <div class="relative flex items-center">
                                {{ form.organization_name }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
                                </svg>  
                            </div>
                        </div>
                
                        <div class="mt-4">
                            <label for="id_organization_description" class="text-gray-800 text-[15px] mb-2 block">Organization Description</label>
                            <div class="relative flex items-center">
                                {{ form.organization_description }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                                    stroke-width="1.5" stroke="currentColor" 
                                    class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L8.25 18.404 3 19.5l1.096-5.25L16.862 4.487z" />
                                </svg>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_street_number" class="text-gray-800 text-[15px] mb-2 block">Building</label>
                            <div class="relative flex items-center">
                                {{ form.street_number }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
                                </svg>  
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_route" class="text-gray-800 text-[15px] mb-2 block">Street Name</label>
                            <div class="relative flex items-center">
                                {{ form.route }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
                                </svg>  
                            </div>
                        </div>
                        
                        <div class="mt-4">
                            <label for="id_locality" class="text-gray-800 text-[15px] mb-2 block">Town/City</label>
                            <div class="relative flex items-center">
                                {{ form.locality }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                </svg>
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_postal_code" class="text-gray-800 text-[15px] mb-2 block">Postal Code</label>
                            <div class="relative flex items-center">
                                {{ form.postal_code }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
                                </svg>                                  
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_state" class="text-gray-800 text-[15px] mb-2 block">State/Province</label>
                            <div class="relative flex items-center">
                                {{ form.state }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
                                </svg>  
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_country" class="text-gray-800 text-[15px] mb-2 block">Country</label>
                            <div class="relative flex items-center">
                                {{ form.country }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m6.115 5.19.319 1.913A6 6 0 0 0 8.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 0 0 2.288-4.042 1.087 1.087 0 0 0-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 0 1-.98-.314l-.295-.295a1.125 1.125 0 0 1 0-1.591l.13-.132a1.125 1.125 0 0 1 1.3-.21l.603.302a.809.809 0 0 0 1.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 0 0 1.528-1.732l.146-.292M6.115 5.19A9 9 0 1 0 17.18 4.64M6.115 5.19A8.965 8.965 0 0 1 12 3c1.929 0 3.716.607 5.18 1.64" />
                                </svg>                                  
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_organization_website" class="text-gray-800 text-[15px] mb-2 block">Organization Website</label>
                            <div class="relative flex items-center">
                                {{ form.organization_website }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                                </svg>  
                            </div>
                        </div>

                        <div class="mt-4">
                            <label for="id_organization_profile_img" class="text-gray-800 text-[15px] mb-2 block">Organization Profile Image</label>
                            <div class="relative flex items-center">
                                {{ form.organization_profile_img }}
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[18px] h-[18px] absolute right-4 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                                </svg>                                  
                            </div>
                        </div>
                        
                        <div class="mt-8">
                            <button type="submit" class="w-full shadow-xl py-3 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 flex items-center justify-center space-x-2 transition-transform duration-200 hover:scale-[1.02] hover:shadow-lg" 
                                style="box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.1);">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                                </svg>
                                <span class="font-bold">Complete Signup</span>
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="modal-container"></div>
</div>
{% endblock %}
